.ContactEntry{
    border : solid black 3px;
    padding : 15px;
    margin-top : 20px;
    border-radius: 15px;
    width: 93vw;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: white;
    cursor: pointer;
}