.ContactDetail{
    position: fixed;
    top : 0px;
    left : 0px;
    right : 0px;
    bottom : 0px;
    .contact-detail-content{
        position: absolute;
        top : 50px;
        left : 50px;
        right : 50px;
        bottom : 50px;
        border : solid black 5px;
        background-color: white;
        text-align: center;
    }
}